/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v10/zOL64pLDlL1D99S8g8PtiKchq-dmiA.ttf) format('truetype');
}
body {
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
}
header nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    align-items: center;
  }
}
header nav a {
  color: Crimson;
  margin-left: 20px;
  font-size: 1.6rem;
}
header nav .first-anchor {
  margin-left: 0;
}
header img {
  margin: 3.5rem;
}
@media (max-width: 500px) {
  header img {
    display: none;
  }
}
header div {
  margin: 1rem;
}
header h1 {
  font-size: 3rem;
  margin: 1.5rem;
}
header p {
  font-size: 2.5rem;
  margin: 2rem;
}
header button {
  padding: 30px;
  border-radius: 76%;
  background: white;
  font-size: 2rem;
}
header button:hover {
  color: red;
  background: black;
}
.midpage {
  margin-top: 1.4rem;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.midpage section {
  border: solid 1px black;
  width: 40%;
  margin: 1rem;
  padding: 2rem;
}
.bottompage {
  margin-top: 1.4rem;
}
.bottompage p {
  text-align: center;
}
ul {
  list-style-type: circle;
  list-style-position: inside;
}
